/* 
src/styles.css 
credits: this was taken from the React tic-tac-toe tutorial
and modified by myself and ChatGPT
*/

* {
  box-sizing: border-box;
  background-color: #b04a47;
}

body {
  background-color: #f0f4ff; /* light blue */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: blueviolet;
  border: 1px solid #999;
  float: left;
  font-size: 70px;
  font-weight: bolder;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
  
}

.status {
  margin-bottom: 10px;
  
}
.game {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
  font-size: 30px;
}

.game-title {
  text-align: center; 
  margin-bottom: 20px; 
  font-size: 2rem; 
}

.game-info {
  margin-left: 20px;
  font-size: 30px;
}

.game-info button {
  font-size: 16px; 
  padding: 6px 12px; 
  margin-bottom: 4px; 
}

.player-stats {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #2196f3;
  background-color: #e3f2fd;
  text-align: center;
}

.player-stats h2 {
  color: #0d47a1;
}

.player-stats ul {
  list-style: none;
  padding: 0;
}

.player-stats li {
  margin: 5px 0;
}
